// --------
// globals
// --------
$gray: #5D5D5D;
$lightgray: rgb(250, 250, 250);
$darkgray: rgba(50, 50, 50, 0.8);
$darkblue: #00093E;
$lightblue: #5F7DDB;

@import 'fonts';

html {
  background: $lightgray;
}

body {
  @include open_sans;
  width: 1024px;
  padding: 0;
  margin: 0 auto;
  background: white;
  padding: 20px 0;
  
  nav {
    #logo {
      float: right;
      margin-right: 20px;
      width: 192px;
      height: 61px;
      background: url('../images/logo_small.png');
      background-size: 100%;
    }
  }

  h1, h2, h3, h3, h4, h5, h6 {
    @include open_sans_bold;
    margin-left: 20px;
    margin-top: 0;
  }
  p {
    margin-left: 20px;
    margin-top: 0;
  }
  p, ol, li { max-width: 500px; }
  
  a {
    text-decoration: none;
    @include open_sans_bold;
  }
  
  .graph_header {
    float: left;
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
    margin-right: 20px;
  }
  .graph_desc {
    float: left;
    font-style: italic;
    color: $lightblue;
  }
  
  select, input {
    @include open_sans;
    font-size: 1rem;
    padding: 3px 6px;
    border: 1px solid $gray;
    height: 30px;
    border-radius: 0;
    -webkit-border-radius: 0;
    outline: none;
    margin: 10px 0;
  }
  
  input[type='checkbox'] {
    top: 7px;
    width: 30px;
    height: 30px;    
  }
  
  // --------
  // Common graph styles
  // --------  
  .graph_container {
    position: relative;
    width: 1024px;
    height: 500px;
    overflow: hidden;
    margin-bottom: 70px;
    .graph {
      position: absolute;
      width: 100%;
      height: 100%;
      svg {
        position: absolute;
      }
    }
    .legend {
      position: absolute;
      width: 150px;
      top: 10px;
      left: 90px;
      background: white;
    }
  }
  
  // --------
  // Ranking graph
  // --------
  #ranking_graph_container {
    #ranking_graph_controls {
      #ranking_checkbox, label {
        position: relative;
        left: 300px;
        margin-right: 5px;
      }
      
    }
  }
  

  // --------
  // Regional graph
  // --------
  #regional_graph_container {
    .legend {
      left: auto;
      right: 0;
      .legend-circle {
        fill: none;
        stroke: $darkgray;
        stroke-width: 1.5px;
      }
    }
    #regional_graph_legend_1 {
      top: 20px;
    }
    #regional_graph_legend_2 {
      top: 225px;
    }
    #regional_graph {  
      svg {
        .circle {
          stroke-width: 1.5px;
        }
        .overlay {
          opacity: 0;
        }

        .boundary {
          fill: none;
          stroke: $darkgray;
          stroke-width: .5px;
        }

        .state-boundary, .land {
          fill: none;
          stroke: $gray;
          stroke-width: 1px;
        }

        .county-boundary {
          fill: none;
          stroke: $gray;
          stroke-width: 0.5px;
          stroke-opacity: 0.6;
        }
      }
    }
  }

  // --------
  // Scatterplot
  // --------
  #scatterplot_graph_container {
    #scatterplot_graph {
      svg {
        .circle {
          stroke: $darkblue;
          stroke-width: 1px;
          fill: rgba(0,0,0,0);
          &.active {
            stroke: orange;
            fill: orange;
          }
        }
      }
    }
    #scatterplot_controls {
      position: absolute;
      left: 550px;
      width: 200px;
    }
  }
  
  // --------
  // Common svg styles
  // --------
  svg {
     // axis ticks
    .axis path, .axis line {
      fill: none;
      stroke: $gray;
      stroke-width: 1;
      shape-rendering: crispEdges;
    }
    // axis text
    .axis text {
      @include open_sans;
    }
  }

  // --------
  // Tooltips
  // --------
  .d3-tip {
    margin: auto;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px;
    background: $darkgray;
    color: #fff;
    min-width: 150px;
    max-width: 300px;
    p {
      margin: 0;
    }
  }
}






