// --------
// globals
// --------
$gray: #5D5D5D;
$darkgray: rgba(50, 50, 50, 0.8);;
$darkblue: #00093E;
$lightblue: #5F7DDB;

@import 'fonts';

body {
  @include open_sans;
  max-width: 1024px;
  
  p {
    max-width: 500px;
  }
  
  #graph_1_container {
    position: relative;
    width: 1024px;
    height: 768px;
    #graph_1 {
      position: absolute;
      width: 960px;
      height: 100%;
    }
    .legend {
      position: absolute;
      width: 150px;
      right: 0;
      background: white;
    }
    #graph_1_legend_1 {
      top: 50px;
    }
    #graph_1_legend_2 {
      top: 225px;
    }
  }
}

svg {
   // axis ticks
  .axis path, .axis line {
    fill: none;
    stroke: $gray;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
  // axis text
  .axis text {
    font-size: 1.5em;
    @include open_sans;
  }
  // graph line
  path {
    stroke-width: 7;
    fill: none;
  }
  
  .circle {
    fill: rgba(0,0,0,0);
    stroke-width: 1.5px;
  }

  .boundary {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
  }

  .state-boundary, .land {
    fill: none;
    stroke: $lightblue;
    stroke-width: 1px;
  }

  .county-boundary {
    fill: none;
    stroke: $lightblue;
    stroke-width: 0.5px;
    stroke-opacity: 0.5;
  } 
}

.d3-tip {
  margin: auto;
  font-size: 0.8em;
  font-weight: bold;
  padding: 5px;
  background: $darkgray;
  color: #fff;
  min-width: 150px;
  max-width: 300px;
  p {
    margin: 0;
  }
}

.legend {
  .legend-circle {
    fill: none;
    stroke: $darkgray;
    stroke-width: 1.5px;
  }
}






