// --------
// globals
// --------
$gray: #5D5D5D;
$darkgray: rgba(50, 50, 50, 0.8);;
$darkblue: #00093E;
$lightblue: #5F7DDB;

@import 'fonts';

body {
  @include open_sans;
  width: 1024px;
  padding: 0;
  margin: 0;

  p, h1, h3, h3, h4, h5, h6 {
    margin-left: 20px;
  }
  p {
    max-width: 500px;
  }
  
  .graph_container {
    position: relative;
    width: 1024px;
    overflow: hidden;
    .graph {
      position: absolute;
      width: 100%;
      height: 100%;
      svg {
        position: absolute;
      }
    }
  }
}

//
// Distribution
//
#distribution_graph_container {
  height: 100px;
}

//
// Regional graph
//
#regional_graph_container {
  height: 500px;
  .legend {
    position: absolute;
    width: 150px;
    right: 0;
    background: white;
    .legend-circle {
      fill: none;
      stroke: $darkgray;
      stroke-width: 1.5px;
    }
  }
  #regional_graph_legend_1 {
    top: 50px;
  }
  #regional_graph_legend_2 {
    top: 225px;
  }  
  #regional_graph {  
    svg {
      .circle {
        fill: rgba(0,0,0,0);
        stroke-width: 1.5px;
      }

      .boundary {
        fill: none;
        stroke: #777;
        stroke-width: .5px;
        stroke-opacity: .5;
      }

      .state-boundary, .land {
        fill: none;
        stroke: $lightblue;
        stroke-width: 1px;
      }

      .county-boundary {
        fill: none;
        stroke: $lightblue;
        stroke-width: 0.5px;
        stroke-opacity: 0.5;
      }
    }
  }
}

svg {
   // axis ticks
  .axis path, .axis line {
    fill: none;
    stroke: $gray;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
  // axis text
  .axis text {
    font-size: 1.5em;
    @include open_sans;
  }
  // graph line
  path {
    stroke-width: 7;
    fill: none;
  }
}

.d3-tip {
  margin: auto;
  font-size: 0.8em;
  font-weight: bold;
  padding: 5px;
  background: $darkgray;
  color: #fff;
  min-width: 150px;
  max-width: 300px;
  p {
    margin: 0;
  }
}






